.subscribe-button {
    font-family: Arial, Helvetica, sans-serif;
    width: 175px;
    height: 40px;
    margin-left: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: red;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
}

.subscribe-button:hover {
    background-color: grey;
}