.app {
  text-align: center;
  background-color: #282c34;
  min-height: 99vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  border-color: #282c34;
  border-radius: 50px;
}

